version: '3.9'

services:
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
  web:
    build: .
    command: pnpm start
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: redis://redis:6379
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
    depends_on:
      - redis
    ports:
      - '3000:3000'
    restart: on-failure
  worker:
    build: .
    command: pnpm worker
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: redis://redis:6379
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
    depends_on:
      - redis
    restart: on-failure
